* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  
 
}
a {
  text-decoration: none;
  color: inherit;

}


/*---hdr----*/
.hdr {
  width: 100%;
}

/*---taskbar---*/

.taskbar {
  height: 4em;
  width: 100%;
  display: flex;
  justify-content: space-between;  
}

.menu {
  height: 5em;
  width: 7em;
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu img {
  height: 3em;
  width: 3em;
 
}

.menu_2 {
  height: 3em;
  width: 18em;
  padding-top:50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


/*--.menu_2 button{
  width:6em;
  background: inherit;
  margin-bottom: 20px;
  padding: 1px,2px,1px,5px;
  letter-spacing: 1px;
}--*/

.menu_2 img {
  height: 1.5em;
  width: 1.5em;
}

/*---video---*/

.header {
  height: 40em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  align-items: center;
  justify-content: center;
}

.content img{
  height: 15em;
}

.back-video {
  position:absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media(max-width: 767px) {

 

  .hdr {
    height: 40em;
  }

  .taskbar{
    height: 3em;
  
  }

  .menu{
    width: 3em;
    height: 3em;
    padding-top: 10px;
  } 

  .menu a{
    margin: 0;
    padding: 0;
  }

  .menu img {
    height: 2em;
    width: 2em;
   
  }

  .menu_2{
    padding-top:15px;
    width: 10em;
  }

  .header {
    height: 35em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content img{
    height: 5.5em;
  }

  .menu p {
    font-size: 15px;
    font-weight: 600;
    color: black;

  }

  .menu_2 img {
    height: 1em;
    width: 1em;
  }

  .back-video {
    position:absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  

}

/*----Featured----*/



.f-content {
  height: 4em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 40px;
}

.f-content h4 {
  font-size: 30px;
  letter-spacing: 2px;
  margin-left: 60px;
}

.card_c {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  overflow-x: hidden;
}

.card {
  height: 26em;
  width: 21em;
  border: none;
}

.card-img {
  height: 100%;
  width: 100%;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.card-img:hover {
  transform: scale(1.1);
}

.inner{
  overflow: hidden;
  height: 22em;
}

.inner img{
  height: 100%;
  width: 100%;
  object-fit:cover;
  
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.card-text {
  margin-top: 15px;
  margin-bottom: 0%;
  font-size: 20px;
}

.card-link {
  color:darkgrey;
  font-size: 16px;
}

.f-btn {
  height: 4em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.btn {
  background-color: #fff;
  color: black;
  border-color: black;
  height: 3em;
  width: 12em;
  letter-spacing: 2px;
  font-size: 12px;
}

@media(max-width:767px) {
  
  .featured{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: white;
  }

  .f-content{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .f-content h4{
    font-size: 28px;
    margin-left: 0;
  }

  .card_c{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
  }

  .card {
    height: 15em;
    width: 15em;
    margin-top: 15px;
  }

  .card-body{
    align-items: center;
    justify-content: center;
  }

  .card-text{
    margin-top: 5px;
  }

  .f-btn{
    margin-top: 18px;
  }
}

/*---contact----*/

.contact{
   
    width: 100%;
    margin-top: 40px;
}

.form-label{
    display: flex;
    align-items: center;
    justify-content: start;
}

.form-control{
    border-color: black;
    
}

.c-btn {
    height: 4em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

.help{
    display: flex;
    align-items:center;
    justify-content:flex-start;
    flex-direction: column  ;
    list-style-type: none;  
}

.help p{
    letter-spacing: 5px;
    font-size: 18px;
}

.menu_3 {
  height: 4em;
  width: 15em;
  padding-top:50px;
  margin-left: 190px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.menu_3 img {
  height: 1em;
  width: 1em;
}

@media(max-width:767px){
  .menu_3{
    padding-top: 20px;
    margin-left: 38px;
  }

  #form{
    width: 100%;
  }
  
  .help{
    width: 100%;
  }
}

/*---footer---*/


.footer-body{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-direction: row; 
    padding-top: 22px;
    padding-bottom: 10px;
}

.footer_s{
    font-size: 15px;
    padding-top: 5px;
}

.card-title{
  margin: 0;
}

@media(max-width:767px){

.card-title{
  font-size: 9px;
  margin: 0;
}
}


/*----productpge----*/

.product_page{
  height: 48em;
  width: 100%;
  margin-top:0;
  display: flex;
}

.product_img{
  width: 50%; 
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
}

.product_img img{
  
  border-radius: 5px;
  cursor: pointer;
}

.inner-2{
  height: 30em;
  width: 30em;
}

.inner-2 img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.product_details{
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.col_img{
  display: flex;
  align-items: center;
  justify-content: center;
}

.sml_img{
  height: 8em;
  width: 100%;
}

.sml_img img{
  height: 8em;
  width: 8em;
  margin: 10px;
  cursor: pointer;
  object-fit: cover;
}

.a-btn {
  height: 4em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top:0;
}

@media(max-width:767px){
  .product_page{
    height: 46em;
    flex-direction: column;
    align-items: center;
    
  }
  .product_img{
    width: 100%;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .product_img img{
    height: 16em;
    width: 15em;
    border-radius: 5px;
    cursor: pointer;
  }

  .col_img{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sml_img{
    height: 6em;
    width: 100%;
  }
  
  .sml_img img{
    height: 4em;
    width: 4em;
    margin: 7px;
    cursor: pointer;
  }
  .product_details{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .a-btn {
    height: 3em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #des{
    text-align: justify;
    font-size: 12px;
    padding: 8px;
  }

  #prd-name{
    margin-bottom: 0;
  }
  .inner-2{
    height: 16em;
    width: 15em;
  }
  
}

/*---form---*/

.form_signin{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 110px;
}